*{
background-color: rgb(34, 30, 30);
}


.h1{
font-size: 40px;
color: lemonchiffon;
text-align: center;
font-weight: bolder;
font-family: 'Trebuchet MS', 'Verdana', sans-serif;
text-decoration: overline;

}

.intro{
color: navajowhite;
font-size: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
text-decoration: wavy;
}

.intro2{
    color: navajowhite;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: wavy;
}

.container{
font-size: 25px;
color: brown;

}

.recipe {
    color: orangered;
}

.img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 20%;
}